/* 
 * SASS Variables are defined with a $ character
 * and can have different kinds of data types: color, string, boolean, multi-value
 */

/* =====================================================
Variables 
===================================================== */

$myColor1       : navy;
$myColor2       : navy;

$primaryColor   : #1C2329;
$secColor       : #2A343D;
$gray           : #444F58;
$lightGray      : #77848C;
$lightestGray   : #9DA9AE;
$offWhite       : #FFFFF3;

$myStringVar: " with an appended string";

$myFontSize: 18px;

$thinBorder: 1px solid $myColor1;

$paddingVar: 15px 15px 15px 15px;