/* 
 * SASS Variables are defined with a $ character
 * and can have different kinds of data types: color, string, boolean, multi-value
 */

/* =====================================================
Variables 
===================================================== */

$myColor1		: navy;
$myColor2		: navy;

$primaryColor	: #1C2329;
$secColor		: #2A343D;
$gray			: #444F58;
$lightGray		: #77848C;
$lightestGray	: #9DA9AE;

$myStringVar: " with an appended string";

$myFontSize: 18px;

$thinBorder: 1px solid $myColor1;

$paddingVar: 15px 15px 15px 15px;

h1, h2 {
    color: $primaryColor;
}

#mypara {
    font-size: $myFontSize;
    border: $thinBorder;
    padding: $paddingVar;
}

#mypara:after {
    content: $myStringVar;
}

/* =====================================================
center content
===================================================== */

body {
	width: 90%;
	margin: 0 auto;
	padding: 0;
}

/* =====================================================
Nested Styles
===================================================== */

body {
    font-family: Helvetica, Arial, sans-serif;
    
    p {
        font-family:Times;
    }
    p#mypara {
        font-family: "Courier New";
    }
}

#mypara {
    color: $gray;
    border: 1px solid $lightGray;
    padding: 10px;
    // parent:hover || a:hover from this example
    &:hover {
        color: $secColor;
    }
}

/* =====================================================
SASS Mixins
===================================================== */

@mixin commonTraits {
    border-radius: 10px;
    border: 1px solid $lightestGray;
    padding: 10px;
}

header {
    color: $secColor;
    @include commonTraits;
}

footer {
    color: $primaryColor;
    @include commonTraits;
}

/* =====================================================
Operations
===================================================== */
$gender: boy;
$myColor: if($gender=="boy", #00f, #f00);

// $myColor		: #f00;
$basepadding	: 10px;
$basethickness	: 4px;

#mypara {
	// add colors together === magenta
    // color: $myColor + #00f;

    color: $myColor;
    // 4px + 10 = 14 / 2 = 7px 
    border: ($basethickness + 10 / 2) solid $myColor;
    // basic math to add more to preset $basepadding variable 
    padding: $basepadding + 20; // 10 + 20 = 30px
}