/* 
 * SASS Variables are defined with a $ character
 * and can have different kinds of data types: color, string, boolean, multi-value
 */
/* =====================================================
Variables 
===================================================== */
h1, h2 {
  color: #1c2329; }

#mypara {
  font-size: 18px;
  border: 1px solid navy;
  padding: 15px 15px 15px 15px; }

#mypara:after {
  content: " with an appended string"; }

/* =====================================================
center content
===================================================== */
body {
  width: 90%;
  margin: 0 auto;
  padding: 0; }

/* =====================================================
Nested Styles
===================================================== */
body {
  font-family: Helvetica, Arial, sans-serif; }
  body p {
    font-family: Times; }
  body p#mypara {
    font-family: "Courier New"; }

#mypara {
  color: #444f58;
  border: 1px solid #77848c;
  padding: 10px; }
  #mypara:hover {
    color: #2a343d; }

/* =====================================================
SASS Mixins
===================================================== */
header {
  color: #2a343d;
  border-radius: 10px;
  border: 1px solid #9da9ae;
  padding: 10px; }

footer {
  color: #1c2329;
  border-radius: 10px;
  border: 1px solid #9da9ae;
  padding: 10px; }

/* =====================================================
Operations
===================================================== */
#mypara {
  color: blue;
  border: 9px solid blue;
  padding: 30px; }

/* =====================================================
Advanced SASS 
===================================================== */
#mypara {
  border-width: 3px;
  border-color: blue;
  border-style: dotted; }

h1, h3 {
  border-width: 1px;
  border-color: black;
  border-style: solid; }

/* =====================================================
Functions
===================================================== */
.newColor {
  -mox-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border-color: #c7a76b;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  height: 50px;
  width: 150px;
  display: block;
  margin-bottom: 1em;
  background-color: gray; }
  .newColor p {
    text-align: center;
    color: #fffff3; }

h1 {
  color: orange;
  background-color: gray; }

h2 {
  color: #ffc966; }

h3 {
  color: #ffdb99; }

h4 {
  color: #ffedcc; }
