/* 
 * SASS Variables are defined with a $ character
 * and can have different kinds of data types: color, string, boolean, multi-value
 */
/* =====================================================
Variables 
===================================================== */
h1, h2 {
  color: #1c2329; }

#mypara {
  font-size: 18px;
  border: 1px solid navy;
  padding: 15px 15px 15px 15px; }

#mypara:after {
  content: " with an appended string"; }

/* =====================================================
center content
===================================================== */
body {
  width: 90%;
  margin: 0 auto;
  padding: 0; }

/* =====================================================
Nested Styles
===================================================== */
body {
  font-family: Helvetica, Arial, sans-serif; }
  body p {
    font-family: Times; }
  body p#mypara {
    font-family: "Courier New"; }

#mypara {
  color: #444f58;
  border: 1px solid #77848c;
  padding: 10px; }
  #mypara:hover {
    color: red; }

/* =====================================================
SASS Mixins
===================================================== */
header {
  color: #2a343d;
  border-radius: 10px;
  border: 1px solid #9da9ae;
  padding: 10px; }

footer {
  color: #1c2329;
  border-radius: 10px;
  border: 1px solid #9da9ae;
  padding: 10px; }
